
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #4267b2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-light .navbar-nav .nav-link {
  color: #FFF;
}
.navbar-light .navbar-brand {
  color: #FF5722;
}
.card{border-radius: 0; margin-bottom: 10px; border: 1px solid #4267b2;}

.owner {
  background: #4267b2;
  color: #FFF;
}
#app{min-height: 1500px;}
